@import '../../variables.scss';

.ProductCard {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1.5;

    background-color: $bg-color;

    border-radius: 8px;

    overflow: hidden;
}
.picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 0;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;

    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    padding: 10px 6px;

    color: $text-color;
}

.priceBox {
    position: absolute;
    top: 5px;
    right: 5px;

    padding: 5px 10px;
    border-radius: 50px;

    background-color: #fff;
}

.price {
    font-weight: 700;
    color: #000;
}

.currency {
    font-size: 0.8rem;
}
