@import './variables.scss';

*,
*:after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

html {
    font-size: 16px;
}

body {
    background-color: $bg-color;
    color: $text-color;
    font-family: $sofia;
    color: rgb(248, 248, 248);
}
